@model Helperland_Project.ViewModels.ProfileViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Helperland-Profile</title>
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>  -->
    <link href="~/css/profile.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
</head>

<body>

    <!--navigation menu-->
    <header>
        <nav class="navbar navbar-expand-lg  navbar-dark main-nav">
            <div class="container-fluid" id="navbar">
                <a class="navbar-brand" href="#"><img src="../image/logo-small.png"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item px-1">
                            <a class="nav-link text-center rounded-pill menu-simple border border-1 px-3 me-2"
                               style="background-color:#29626d;" href="#">
                                Book
                                Now
                            </a>
                        </li>
                        <li class="nav-item px-1">
                            <a class="nav-link  me-2 hovermenu" href="#">Prices & services</a>
                        </li>
                        <li class="nav-item px-1">
                            <a class="nav-link me-2 hovermenu" href="#">Warranty</a>
                        </li>
                        <li class="nav-item px-1">
                            <a class="nav-link me-2 hovermenu" href="#">Blog</a>
                        </li>
                        <li class="nav-item px-1">
                            <a class="nav-link me-4 hovermenu" href="contact.html" target="_blank">Contact</a>
                        </li>
                    </ul>
                </div>

                <div class="vertical-line">
                    <div class="nav-item">
                        <a class="nav-link notification" href="#">
                            <img src="../image/icon-notification.png" style="position: absolute;">
                            <div class="notification-num">
                                <sup>2</sup>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        <img src="../image/admin-user.png">
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Invoices</a></li>
                        <li><a class="dropdown-item" href="#">My Settings</a></li>
                        <li><a class="dropdown-item" href="#">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!--user name-->
    <section class="title">
        <h1 class="welcome-text text-center">Welcome,<b> @ViewBag.firstname!</b></h1>
        <div class="welcome-line"></div>
    </section>

    <!--main section-->
    <div class="container px-0">
        <div class="row px-0">

            <!------------------------table 1---------------------------------------------->
            <div class="col-sm-3 customer-dashboard-table1 px-0  flex-column">
                <nav class="navbar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link customer-dashboard-table1-content px-3">Dashboard</a>
                        </li>
                        <hr class="line">
                        <li class="nav-item">
                            <a class="nav-link customer-dashboard-table1-content px-3"
                               href="Customer Service History.html" target="_blank">Service History</a>
                        </li>
                        <hr class="line">
                        <li class="nav-item">
                            <a class="nav-link customer-dashboard-table1-content px-3">Service Schedule</a>
                        </li>
                        <hr class="line">
                        <li class="nav-item">
                            <a class="nav-link customer-dashboard-table1-content px-3">Favourite Pros</a>
                        </li>
                        <hr class="line">
                        <li class="nav-item">
                            <a class="nav-link customer-dashboard-table1-content px-3">Invoices</a>
                        </li>
                        <hr class="line">
                        <li class="nav-item">
                            <a class="nav-link customer-dashboard-table1-content px-3">Notification</a>
                        </li>
                        <hr class="line">
                    </ul>
                </nav>
            </div>

            <!--table-2-->
            <div class="col-sm-9 profile px-0">
                <!--nav-->
                <ul class="row">
                    <li class="col-sm-4 tab active-tab" id="tab1" onclick="Tab1Click();">
                        <a>
                            <p>My Details</p>
                        </a>
                    </li>
                    <li class="col-sm-4 tab btn" id="tab2" onclick="Tab2Click();">
                        <a>
                            <p>My Addresses</p>
                        </a>
                    </li>
                    <li class="col-sm-4 tab btn" id="tab3" onclick="Tab3Click();">
                        <a>
                            <p>Change Password</p>
                        </a>
                    </li>
                </ul>

                <!--tab-content-->
                <div id="mydetails">
                    <form asp-action="Profile" asp-controller="Customer" method="post">
                        <div asp-validation-summary="ModelOnly"></div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label class="add-new-button-label">First Name:</label>
                                <input asp-for="firstname" id="firstname" placeholder="First Name" class="form11">
                                <span asp-validation-for="firstname" class="text-danger"></span>
                            </div>
                            <div class="col-sm-4">
                                <label class="add-new-button-label">Last Name:</label>
                                <input asp-for="lastname" id="lastname" placeholder="Last Name" class="form11">
                                <span asp-validation-for="lastname" class="text-danger"></span>
                            </div>
                            <div class="col-sm-4">
                                <label class="add-new-button-label">Email Address:</label>
                                <input asp-for="email" id="email" placeholder="Email" class="form11">
                                <span asp-validation-for="email" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <label class="add-new-button-label">Mobile Number</label>
                                <div class="input-group form12">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1" style="height:46px;">+49</span>
                                    </div>
                                    <input asp-for="Mobile" id="mobile" class="form-control " placeholder="Mobile number"
                                           pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" style="height:46px;">
                                    <span asp-validation-for="email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <label class="add-new-button-label">Birthdate:</label>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div>
                                            <select asp-for="BirthDate" id="birthdate" class="birthdate">
                                                <option value="-1" selected>
                                                    Day
                                                </option>
                                                @for (int i = 1; i < 32; i++)
                                                {
                                                    <option value=@i>
                                                        @i
                                                    </option>
                                                }
                                            </select>

                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div>
                                            <select asp-for="BirthMonth" id="birthmonth" class="birthdate">
                                                <option value="01">January</option>
                                                <option value="02">February</option>
                                                <option value="03">March</option>
                                                <option value="04">April</option>
                                                <option value="05">May</option>
                                                <option value="06">June</option>
                                                <option value="07">July</option>
                                                <option value="08">August</option>
                                                <option value="09">September</option>
                                                <option value="10">October</option>
                                                <option value="11">November</option>
                                                <option value="12">December</option>
                                            </select>

                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div>
                                            <select asp-for="BirthYear" id="birthyear" class="birthdate">
                                                <option value="0" selected>
                                                    Year
                                                </option>
                                                @for (int i = DateTime.Now.Year; i > (DateTime.Now.Year - 117); i--)
                                                {
                                                    <option value=@i>
                                                        @i
                                                    </option>
                                                }
                                            </select>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4"></div>
                        </div>

                        <hr style="color: #4f4f4f; margin-top: 30px;">
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="add-new-button-label">My Preffered Language:</label>
                                <select name="PrefferedLanguage" class="birthdate">
                                    <option value="English">English</option>
                                    <option value="Hindi">Hindi</option>
                                </select>
                            </div>
                        </div>

                        <div>
                            <button type="submit" class="savecomputer-btn">Save</button>
                        </div>
                    </form>
                </div>

                <div id="myaddresses" style="display: none;">

                    <div id="address"></div>

                </div>

                <div id="tabContent3" style="display: none ;">
                    <form method="post" asp-action="UpdatePassword" asp-controller="Customer">
                        <div asp-validation-summary="ModelOnly"></div>
                        <div class="row">
                            <div class="col-sm-5">
                                <label class="add-new-button-label">Old Password:</label>
                                <input type="Password" asp-for="OldPassword" placeholder="Current Password" id="op" placeholder="Current Password" class="form11">
                                <span asp-validation-for="OldPassword" class="text-danger"></span>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-5">
                                <label class="add-new-button-label">New Password:</label>
                                <input type="Password" asp-for="Password" id="np" placeholder="Password" class="form11">
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-5">
                                <label class="add-new-button-label">Repeat Password:</label>
                                <input type="Password" asp-for="ConfirmPassword" placeholder="Repeat Password" class="form11">
                                <span class="text-danger">@TempData["Message"]</span>
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>

                        <div>
                            <button type="submit" class="savecomputer-btn" style="background-color:#6DA9B5 ;">Save</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>

    <script type="text/javascript">

        function Tab1Click() {
            $("#tab1").addClass("active-tab");
            $("#tab2").removeClass("active-tab").addClass("tab");
            $("#tab3").removeClass("active-tab").addClass("tab");
            $("#tab4").removeClass("active-tab").addClass("tab");

            $("#myaddresses").hide();
            $("#tabContent3").hide();
            $("#tabContent4").hide();
            $("#mydetails").show();
        }

        function Profile() {
            var data = {};

            data.firstname = $("#firstname").val();
            data.lastname = $("#lastname").val();
            data.Mobile = $("#mobile").val();
            data.DateOfBirth = $("#birthdate").val() + "-" + $("#birthmonth").val() + "-" + $("#birthyear").val();


            $.ajax({
                type: 'POST',
                url: '/Customer/Profile',
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',

                data: data,
                success: function (result) {
                    if (result.value == "true") {
                        alert('Successfully!Updated Data!');
                    }
                },
                error: function () {
                    alert('Failed to update Data');
                    console.log('Failed ');
                }
            })

        }

        function Tab2Click() {
            $("#tab2").addClass("active-tab");
            $("#tab1").removeClass("active-tab").addClass("tab");
            $("#tab3").removeClass("active-tab").addClass("tab");
            $("#tab4").removeClass("active-tab").addClass("tab");
            $("#address").load('@Url.Action("MyAddress","Customer")');

            $("#mydetails").hide();
            $("#tabContent3").hide();
            $("#tabContent4").hide();
            $("#myaddresses").show();
        }

        function Tab3Click() {
            $("#tab3").addClass("active-tab");
            $("#tab1").removeClass("active-tab").addClass("tab");
            $("#tab2").removeClass("active-tab").addClass("tab");
            $("#tab4").removeClass("active-tab").addClass("tab");

            $("#mydetails").hide();
            $("#myaddresses").hide();
            $("#tabContent4").hide();
            $("#tabContent3").show();
        }
    </script>
</body>

</html>