@{
    Layout = "/Views/Shared/Custom_Layout.cshtml";
}

<head>
    <link href="~/css/About.css" rel="stylesheet" />
    <title>Price</title>
</head>

<!--about banner starts-->
<img src="../image/about-banner.png" class="img-fluid align-items-stretch" id="banner">
<!--about  banner ends-->

<main>
    <!--about us section starts-->
    <section>
        <h1 class="d-flex justify-content-center contact_title">A Few words about us</h1>
        <div class="d-flex justify-content-center">
            <hr class="line1">
            <img src="../image/star.png" class="star">
            <hr class="line2">
        </div>

        <div class="container about-text justify-content-center">
            <p class="para text-center">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean molestie
                convallis tempor. Duis vestibulum vel risus condimentum dictum.<br> Orci varius natoque penatibus et
                magnis dis parturient montes, nascetur ridiculus mus. Vivamus quis enim orci. Fusce risus lacus,
                <br>sollicitudin eu magna sed, pharetra sodales libero. Proin tincidunt vel erat id porttitor.
                Donec tristique est arcu, sed dignissim velit vulputate <br>ultricies.
            </p>
            <p class="para text-center">
                Interdum et malesuada fames ac ante ipsum primis in faucibus. In hac
                habitasse platea dictumst. Vivamus eget mauris eget nisl euismod <br>volutpat sed sed libero.
                Quisque sit amet lectus ex. Ut semper ligula et mauris tincidunt hendrerit. Aenean ut rhoncus orci,
                vel elementum <br>turpis. Donec tempor aliquet magna eu fringilla. Nam lobortis libero ut odio
                finibus lobortis. In hac habitasse platea dictumst. Mauris a <br>hendrerit felis. Praesent ac
                vehicula ipsum, at porta tellus. Sed dolor augue, posuere sed neque eget, aliquam ultricies velit.
                Sed lacus elit, <br>tincidunt et massa ac, vehicula placerat lorem.
            </p>
        </div>
    </section>

    <section>
        <h1 class="d-flex justify-content-center contact_title">Our Story</h1>
        <div class="d-flex justify-content-center">
            <hr class="line1">
            <img src="../image/star.png" class="star">
            <hr class="line2">
        </div>

        <div class="container story-text justify-content-center">
            <p class="para text-center">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean molestie
                convallis tempor. Duis vestibulum vel risus condimentum dictum.<br> Orci varius natoque penatibus et
                magnis dis parturient montes, nascetur ridiculus mus. Vivamus quis enim orci. Fusce risus lacus,
                <br>sollicitudin eu magna sed, pharetra sodales libero. Proin tincidunt vel erat id porttitor.
                Donec tristique est arcu, sed dignissim velit vulputate <br>ultricies.
            </p>

            <p class="para text-center">
                Interdum et malesuada fames ac ante ipsum primis in faucibus. In hac habitasse platea dictumst.
                Vivamus eget mauris eget nisl euismod<br> volutpat sed sed libero. Quisque sit amet lectus ex. Ut semper
                ligula et mauris tincidunt hendrerit.<br>
            </p>

            <p class="para text-center">
                Aenean ut rhoncus orci, vel elementum turpis. Donec tempor aliquet magna eu
                fringilla. Nam lobortis libero ut odio finibus lobortis. In hac <br>habitasse platea dictumst.
                Mauris a hendrerit felis. Praesent ac vehicula ipsum, at porta tellus. Sed dolor augue, posuere sed
                neque eget,<br> aliquam ultricies velit. Sed lacus elit, tincidunt et massa ac, vehicula placerat
                lorem.
            </p>

        </div>

    </section>
</main>
    <!--about us section ends-->
