@model Helperland_Project.ViewModels.SPProfileViewModel
@{
    Layout = null;
}

<form method="post" asp-controller="ServiceProvider" asp-action="SPUpdatePassword">
    <div class="row">
        <div class="col-sm-5">
            <label class="add-new-button-label">Old Password:</label>
            <input type="Password" asp-for="OldPassword" placeholder="Current Password" id="op" class="form11">
            <span class="text-danger">@ViewBag.Msg</span>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-5">
            <label class="add-new-button-label">New Password:</label>
            <input type="Password" asp-for="Password" placeholder="Password" id="np" class="form11">
        </div>
    </div>

    <div class="row">
        <div class="col-sm-5">
            <label class="add-new-button-label">Repeat Password:</label>
            <input type="Password" asp-for="ConfirmPassword" placeholder="Repeat Password" id="rp" class="form11">
            <span class="text-danger">@TempData["Message"] </span>
        </div>
    </div>

    <div>
        <button type="submit" class="savecomputer-btn" style="background-color:#6DA9B5 ;">Save On Computer</button>
    </div>
</form>
