@model Helperland_Project.ViewModels.SPProfileViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Helperland-Profile</title>
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>  -->
    <link href="~/css/profile.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
</head>

<body>

    <!--navigation menu-->
    <header>
        <nav class="navbar navbar-expand-lg  navbar-dark main-nav">
            <div class="container-fluid" id="navbar">
                <a class="navbar-brand" href="#"><img src="../image/logo-small.png"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item px-1">
                            <a class="nav-link text-center rounded-pill menu-simple border border-1 px-3 me-2"
                               style="background-color:#29626d;" href="#">
                                Book
                                Now
                            </a>
                        </li>
                        <li class="nav-item px-1">
                            <a class="nav-link  me-2 hovermenu" href="#">Prices & services</a>
                        </li>
                        <li class="nav-item px-1">
                            <a class="nav-link me-2 hovermenu" href="#">Warranty</a>
                        </li>
                        <li class="nav-item px-1">
                            <a class="nav-link me-2 hovermenu" href="#">Blog</a>
                        </li>
                        <li class="nav-item px-1">
                            <a class="nav-link me-4 hovermenu" href="contact.html" target="_blank">Contact</a>
                        </li>
                    </ul>
                </div>

                <div class="vertical-line">
                    <div class="nav-item">
                        <a class="nav-link notification" href="#">
                            <img src="../image/icon-notification.png" style="position: absolute;">
                            <div class="notification-num">
                                <sup>2</sup>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        <img src="../image/admin-user.png">
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Invoices</a></li>
                        <li><a class="dropdown-item" href="#">My Settings</a></li>
                        <li><a class="dropdown-item" href="#">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!--user name-->
    <section class="title">
        <h1 class="welcome-text text-center">Welcome,<b> @ViewBag.firstname!</b></h1>
        <div class="welcome-line"></div>
    </section>

    <!--main section-->
    <div class="container px-0">
        <div class="row px-0">

            <!------------------------table 1---------------------------------------------->
            <div class="col-sm-3 customer-dashboard-table1 px-0  flex-column">
                <nav class="navbar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link customer-dashboard-table1-content px-3">Dashboard</a>
                        </li>
                        <hr class="line">
                        <li class="nav-item">
                            <a class="nav-link customer-dashboard-table1-content px-3"
                               href="Customer Service History.html" target="_blank">Service History</a>
                        </li>
                        <hr class="line">
                        <li class="nav-item">
                            <a class="nav-link customer-dashboard-table1-content px-3">Service Schedule</a>
                        </li>
                        <hr class="line">
                        <li class="nav-item">
                            <a class="nav-link customer-dashboard-table1-content px-3">Favourite Pros</a>
                        </li>
                        <hr class="line">
                        <li class="nav-item">
                            <a class="nav-link customer-dashboard-table1-content px-3">Invoices</a>
                        </li>
                        <hr class="line">
                        <li class="nav-item">
                            <a class="nav-link customer-dashboard-table1-content px-3">Notification</a>
                        </li>
                        <hr class="line">
                    </ul>
                </nav>
            </div>

            <!--table-2-->
            <div class="col-sm-9 profile px-0">
                <!--nav-->
                <ul class="row">
                    <li class="col-sm-4 tab active-tab" id="tab1" onclick="Tab1Click();">
                        <a>
                            <p>My Details</p>
                        </a>
                    </li>
                    @*<li class="col-sm-4 tab btn" id="tab2" onclick="Tab2Click();">
                        <a>
                            <p>My Addresses</p>
                        </a>
                    </li>*@
                    <li class="col-sm-4 tab btn" id="tab3" onclick="Tab3Click();">
                        <a>
                            <p>Change Password</p>
                        </a>
                    </li>
                </ul>


                <div>

                    <div id="tabContent1">
                        <div>
                            <label class="add-new-button-label" style="margin-bottom: 0px; font-size: 18px;">Account Status : </label>&nbsp;
                            <span class="add-new-button-label" style="color: green ;font-size: 18px;">Active</span>
                        </div>

                        <div class="row">
                            <div class="col-sm-10">
                                <label class="add-new-button-label" style="margin-bottom: 0px; font-size: 18px;">Basic Details</label>
                                <hr style="color: #4f4f4f;">
                            </div>
                            <div class="col-sm-2">
                                <img src="../image/@ViewBag.profilepicture">
                            </div>
                        </div>
                        <form>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label class="add-new-button-label">First Name:</label>
                                    <input asp-for="FirstName" id="firstname" placeholder="First Name" class="form11">
                                </div>
                                <div class="col-sm-4">
                                    <label class="add-new-button-label">Last Name:</label>
                                    <input asp-for="LastName" id="lastname" placeholder="Last Name" class="form11">
                                </div>
                                <div class="col-sm-4">
                                    <label class="add-new-button-label">Email Address:</label>
                                    <input asp-for="Email" id="email" placeholder="Email" class="form11">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-4">
                                    <label class="add-new-button-label">Mobile Number</label>
                                    <div class="input-group form12">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1" style="height:46px;">+49</span>
                                        </div>
                                        <input asp-for="Mobile" id="mobile" class="form-control " placeholder="Mobile number" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" style="height:46px;">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <label class="add-new-button-label">Birthdate:</label>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div>
                                                <select asp-for="BirthDate" id="birthdate" class="birthdate">
                                                    <option value="10">10</option>
                                                    <option value="20">20</option>
                                                    <option value="30">30</option>
                                                    <option value="40">40</option>
                                                </select>

                                            </div>
                                        </div>
                                        <div class="col-sm-5">
                                            <div>
                                                <select asp-for="BirthMonth" id="birthmonth" class="birthdate">
                                                    <option value="06">June</option>
                                                    <option value="07">July</option>
                                                    <option value="08">August</option>
                                                    <option value="09">September</option>
                                                </select>

                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div>
                                                <select asp-for="BirthYear" id="birthyear" class="birthdate">
                                                    <option value="1991">1991</option>
                                                    <option value="1992">1992</option>
                                                    <option value="1993">1993</option>
                                                    <option value="1994">1994</option>
                                                </select>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <label class="add-new-button-label">Nationality:</label>
                                    <select asp-for="NationalityId" class="birthdate">
                                        <option value="Indian">Indian</option>
                                        <option value="German">German</option>
                                    </select>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-sm-6">
                                    <label class="add-new-button-label">Gender:</label>
                                    <br />
                                    <input type="radio" id="male" value="1" asp-for="Gender">
                                    <label for="male" class="add-new-button-label" style="font-weight:normal; " asp-for="Gender">Male</label>&nbsp;&nbsp;
                                    <input type="radio" id="female" value="2" asp-for="Gender">
                                    <label for="female" class="add-new-button-label" style="font-weight:normal; " asp-for="Gender">Female</label>&nbsp;&nbsp;
                                    <input type="radio" id="rather-not-to-say" value="3" asp-for="Gender">
                                    <label for="rather-not-to-say" class="add-new-button-label" style="font-weight:normal; " asp-for="Gender">Rather Not To Say</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col" style="margin-bottom: 10px;">
                                    <label class="add-new-button-label" asp-for="UserProfilePicture">Select Avtar:</label>
                                    <br />
                                    <div style="display: inline; margin-right:10px ;" id="image10" onclick="AvtarClick(this)">
                                        <label></label>
                                        <img class="avtar_image" src="../image/avatar-hat.png" asp-append-version="true" style="border-radius:50%;" id="avtarimage10">
                                    </div>
                                    <div style="display: inline; margin-right:10px ;" id="image20" onclick="AvtarClick(this)">
                                        <label></label>
                                        <img class="avtar_image" src="../image/avatar-female.png" asp-append-version="true" style="border-radius:50%;" id="avtarimage20">
                                    </div>
                                    <div style="display: inline; margin-right:10px ;" id="image30" onclick="AvtarClick(this)">
                                        <label ></label>
                                        <img class="avtar_image" src="../image/avatar-iron.png" asp-append-version="true" style="border-radius:50%;" id="avtarimage30">
                                    </div>
                                    <div style="display: inline; margin-right:10px ;" id="image40" onclick="AvtarClick(this)">
                                        <label></label>
                                        <img class="avtar_image" src="../image/avatar-ship.png" asp-append-version="true" style="border-radius:50%;" id="avtarimage40">
                                    </div>
                                    <div style="display: inline; margin-right:10px ;" id="image50" onclick="AvtarClick(this)">
                                        <label></label>
                                        <img class="avtar_image" src="../image/avatar-male.png" asp-append-version="true" style="border-radius:50%;" id="avtarimage50">
                                    </div>

                                </div>
                            </div>

                            <label class="add-new-button-label" style="margin-bottom: 0px; font-size: 18px;">My Address</label>
                            <hr style="color: #4f4f4f; ">

                            <div class="row">
                                <div class="col-sm-4">
                                    <label for="street-name" class="form-label add-new-button-label">Street name</label>
                                    <input asp-for="AddressLine1" placeholder="Street Name" class="form11" id="a1">
                                </div>
                                <div class="col-sm-4">
                                    <label class="add-new-button-label">House Number:</label>
                                    <input asp-for="AddressLine2" placeholder="House Number" class="form11" id="a2">
                                </div>
                                <div class="col-sm-4">
                                    <label class="add-new-button-label">Postal Code:</label>
                                    <input asp-for="PostalCode" placeholder="Postal Code" class="form11" id="zippcode">
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-sm-4">
                                    <label for="street-name" class="form-label add-new-button-label">City</label>
                                    <input asp-for="City" placeholder="City" class="form11" id="city">
                                </div>
                            </div>
                            <div>
                                <button type="button" class="savecomputer-btn" value="" onclick="submitedavtar(this.value);" id="savepicture"  style="width: 100px;">Save</button>
                            </div>
                        </form>
                    </div>

                    <div id="tabContent2" style="display: none ;">
                        @await Html.PartialAsync("SPPassword.cshtml")
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>

    <script type="text/javascript">
        var selectedavtar;
        function Tab1Click() {


            $("#tab1").addClass("active-tab");
            $("#tab2").removeClass("active-tab").addClass("customerprofile");



            $("#tabContent2").hide();


            $("#tabContent1").show();

            // var img = document.getElementById("setup");
            // img.src = "../image/setup-service-white.png";

        }
        function Tab2Click() {


            $("#tab2").addClass("active-tab");
            $("#tab1").removeClass("active-tab").addClass("customerprofile");



            $("#tabContent1").hide();


            $("#tabContent2").show();



        }


        //function SpProfile() {
        //    var data = {};

        //    data.firstname = $("#firstname").val();
        //    data.lastname = $("#lastname").val();
        //    data.Mobile = $("#mobile").val();
        //    data.DateOfBirth = $("#birthdate").val() + "-" + $("#birthmonth").val() + "-" + $("#birthyear").val();


        //    $.ajax({
        //        type: 'POST',
        //        url: '/Customer/MyProfile',
        //        contentType: 'application/x-www-form-urlencoded; charset=UTF-8',

        //        data: data,
        //        success: function (result) {
        //            if (result.value == "true") {
        //                alert('Successfully!Updated Data!');
        //            }
        //        },
        //        error: function () {
        //            alert('Failed to update Data');
        //            console.log('Failed ');
        //        }
        //    })

        //}

        function spPasswordUpdate() {


            var data = {};

            data.Password = $("#op").val();
            data.NewPassword = $("#np").val();
            data.ConfirmPassword = $("#rp").val();
            // var pass = data.oldpwd;



            $.ajax({
                type: 'POST',
                url: '/ServiceProvider/spUpdatePassword',
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',

                data: data,
                success: function (result) {
                    if (result.value == "true") {
                        alert("Updated Password");

                        //$("#tabContent3").show();
                    }
                    if (result.value == "false") {
                        alert("Plz Enter Valid Password");
                    }
                },
                error: function () {
                    alert('Failed to update Data');
                    console.log('Failed ');
                }
            })
        }


        function AvtarClick(val) {

            const ex = document.getElementsByClassName("avtar_image");
            for (let i = 0; i < ex.length; i++) {

                ex[i].style.border = "1px solid #e0e0e0";


            }

            /* document.getElementById(val.id).style.border = "3px solid #1d7a8c";*/


            var imageid = "#avtar" + val.id;
            var imgid = "avtar" + val.id;
            document.getElementById(imgid).style.border = "3px solid #1d7a8c";

            var part = $(imageid).attr("src").split('/');
            var imgname = part[part.length - 1];
            selectedavtar = imgname;
            $("#savepicture").prop("value", selectedavtar);

        }

        function submitedavtar(val) {
            var data = {};
            data.UserProfilePicture = selectedavtar;
            data.FirstName = $("#firstname").val();
            data.LastName = $("#lastname").val();
            data.Email = $("#email").val();
            data.Mobile = $("#mobile").val();
            /* data.Gender = $("#firstname").val();*/
            data.BirthDate = $("#birthdate").val();
            data.BirthMonth = $("#birthmonth").val();
            data.BirthYear = $("#birthyear").val();
            data.AddressLine1 = $("#a1").val();
            data.AddressLine2 = $("#a2").val();
            data.City = $("#city").val();
            data.PostalCode = $("#zippcode").val();
            $.ajax({
                type: 'POST',
                url: '/ServiceProvider/ServiceProviderProfileDetail',
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',

                data: data,
                success: function (result) {
                    if (result.value == "true") {
                        alert("Updated Avtar");

                        //$("#tabContent3").show();
                    }
                    if (result.value == "false") {
                        alert("Plz Enter Valid Password");
                    }
                },
                error: function () {
                    alert('Failed to update Data');
                    console.log('Failed ');
                }
            })
        }
    </script>

</body>
</html>