nav a{
    color: #ffffff!important;
}

.nav-padding{
    padding-top:0.25em;
    padding-bottom: 0.30em;
}

h1, h2, h3, h4,h5{
    font-family: 'Roboto', sans-serif;
    color: #4f4f4f;
}

.c-header{
    font-family: 'Roboto';
    font-weight: bold;  
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #646464;
}
a{
    text-decoration: none;
}

.footer-nav ul li a{
    color:#f1f1f1;
}

hr{
    height: 1px;
    background-color:white;
    border:none;
}

.faq_img{
    background-image: url(img/faq-banner.png);
    background-size: cover!important;
    
}