*{
    font-family: 'Roboto'!important;
}

body{
    scroll-behavior: smooth!important;
}


body{
    overflow-x: hidden;
}

.sticky{
    position:fixed;
    width: 100%;
    top: 0;
    background-color: #525252;
}

.navbar{
    background-color: #525252;
}

nav a{
    color: #FFFFFF!important;
    font-weight: lighter!important;
    font-family: 'Roboto';
}

.navbar .menu{
    background-color:#29626D; 
    font-size: 1.0625rem !important; 
    font-weight: lighter!important;
}

.navbar .menu-simple{
    font-size: 1.0625rem !important; 
    font-weight: lighter!important;
    color: #ffffff;
} 

.navbar .menu:hover{
    background-color: #ffffff;
    color: #1d7a8c!important;
}

.pricebtn:hover{
   background-color: #ffffff;
   color: #1d7a8c!important;
}

#banner{
    width: 1560px; 
    height: 370px; 
    object-fit:cover;
}

.price_title{
    color: #4f4f4f; 
    font-weight: 500; 
    font-size: 36px; 
    margin-top: 30px; 
    font-family: 'Roboto';
}

.line1{
    width: 6%; 
    color: #4f4f4f;
    margin-top: 30px; 
    margin-right: 10px; 
    height: 1px;
}

.star{
    margin-top: 2px;
    object-fit: contain;
}

.line2{
    width: 6%;
    color: #4f4f4f;
    margin-top: 30px; 
    margin-left: 10px; 
    height: 1px;
}

section{
    font-family:'Roboto';
}

.one-time{
    width:553px;
}

.one-time .onetime-title{
    height: 59px; 
    background-color:#1d7a8c;
}

.one-time .onetime-title span{
    font-size: 28px;
    color: #ffffff;
}

.onetime-body .dollar{
    color:#646464; 
    font-size: 48px;
}

.onetime-body .hour{
    font-size:30px; 
    color:#646464;
}
.onetime-text{
    padding-left:9.4375rem;
}
.onetime-text p{
    color:#646464; 
    font-size:16px;
}

.onetime-text img{
    padding-right:0.5rem;
}

.extra-service{
    width:1140px;
}

.extra-service .extra-service-title{
    color: #4f4f4f; 
    font-weight: 500; 
    font-size: 36px; 
    margin-top: 30px;
}

.extraservicebox{
    width:175px;
}

.acessimg{
    height: 108px; 
    width: 108px;
    padding-top:1.79rem;
}

.acessimg img{
    width: 37px;
    height: 48px;
}

.extraservicebox .extraservice-body h5{
    font-size: 16px;
}

.extraservicebox .extraservice-body p{
    font-size:18px;
    color:#1D7A8C;
}

.extra-service .extraservicebox .card-title{
    color: #4f4f4f!important;
}

.includecleaningbox{
    margin-top: 2rem; 
    background-color: #F6F6F6;
}

.c1 img{
    width: 100%;
}

.c1 p{
    padding-left: 0px; 
    margin-left:0px;
}

.c1  .c1-text a{
    opacity:.6 ;
}

 .c1  .c1-text p{
    padding-left: .5rem; 
    padding-top: .1rem; 
    font-size: 15px; 
    color: #4F4F4F; 
}

.why-helperland-title{
    font-size: 36px;
    font-family: 'Roboto';
    color: #4f4f4f;
}

.right-content{
    text-align: right;
    max-width: 390px;
    font-family: 'Roboto';
}

.right-content .p1{
    color:#646464;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Roboto';
}

.right-content .p2{
    color: #646464;
    font-size:14px ;
    font-family: 'Roboto'; 
}

.left-content{
    text-align:left;
    max-width: 390px;
    font-family: 'Roboto';
}

.left-content .p21{
    color:#646464;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Roboto';
}

.left-content .p22{
    color: #646464;
    font-size:14px;
    width: 285.7px;
    height: 84.67px;
    font-family: 'Roboto';
}


/*get newsletter*/

.news-letter
{ 
  padding-bottom: 55px; 
  background: #F4F5F8; 
}
.news-letter .container 
{ 
  position: relative; 
  max-width: 1420px; 
}
.news-letter a 
{ 
  display: inline-block; 
}
.news-letter .scroll-arrow {
  position: absolute; 
  width: 48px; 
  height: 48px; 
  background: #525252; 
  border-radius: 50%; 
  left: 0; 
  line-height: 45px; 
}
.news-letter .message-footer
{ 
 position: absolute; 
 width: 63px; 
 height: 63px; 
 right: 0; 
}
.news-letter h2 
{ 
  font-size: 18px; 
  margin-bottom: 16px; 
}
.news-letter .form-row .form-control 
{ 
  border-radius: 20px; 
  border: solid 1px #565656; 
  background-color: #f4f5f8; 
  color: #565656; 
  font-size: 14px; 
  height: 40px; 
  line-height: 40px; 
  padding: 0 22px; 
}
.news-letter .form-row .form-control:focus 
{ 
  box-shadow: none; 
}
.news-letter .btn-wrapper 
{ 
  margin-left: 11px; 
}
.red-btn 
{ 
  background-color: #FF7B6D; 
  font-size: 14px; 
  line-height: 37px; 
  height: 40px; 
  border-radius: 20px; 
  border: none; 
  outline: none; 
  color: #fff; 
  width: 88px; 
  transition: 0.3s all; 
}
.red-btn:hover 
{ 
  background-color: #eb6e61; 
  color: #fff; 
}










.newsletter{
    position: relative; 
    font-family: 'Roboto';
}

.newsletter .newsletter-title{
    font-size:1.125rem; 
    font-family: 'Roboto'!important;
}

.newsletter form .email-box{
    border: 1px solid gray; 
    background-color:#ffffff; 
    text-align:start;
     padding-left: 15px; 
     padding-top: 5px; 
     padding-bottom: 5px; 
    font-size: 0.875rem!important;
}

.newsletter form  .submit{
    background-color: #ff7b6d; 
    padding-top: 3px; 
    padding-bottom: 3px;  
    color: #ffffff; 
    font-size: 0.875rem!important;
}

#btn-back-to-top{
    z-index: 100;
}

#timer{
    z-index: 100; 
    padding-left: 1190px; 
    padding-bottom: 30px;
}

footer{
    background-color: #111111; 
    height:auto; 
    font-family: 'Roboto';
}

footer a{
    color: white; 
    text-decoration: none; 
    font-size: 14px;
}

footer .insta{
    color: white; 
    text-decoration: none;
}

footer .fb{
    color: white; 
    text-decoration: none;
}


@media(max-width:991px){
    nav .navbar-nav{
        background-color: black;
    }

    nav .navbar-nav .menu{
        background-color: black!important;
        border: none!important;
    }

    nav .navbar-nav .pricebtn{
        border: none!important;
    }

    nav .navbar-nav .pricebtn:hover{
        background-color: black;
    }

    nav .navbar-nav a{
        color:#646464!important;
    }

    nav .navbar-nav a:hover{
        color: #a0a0a0!important;
    }

    nav .navbar-nav .menu:hover{
        color: #a0a0a0!important;
    }
}