#logo {
    width: 73px;
    height: 54px;
}

nav a {
    color: #FFFFFF !important;
    font-size: 1.0625rem !important;
    font-weight: lighter !important;
}

.nav-btns {
    background-color: #29626D;
    font-size: 1.0625rem !important;
    font-weight: lighter !important;
}

    .nav-btns:hover {
        background-color: #FFFFFF;
        color: #29626D !important;
        transition: all 0.3s ease;
    }

.one-btn:hover {
    background-color: #FFFFFF;
    color: #29626D !important;
    transition: all 0.3s ease;
}

.sticky {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #525252;
}

/*get newsletter*/

.news-letter {
    padding-bottom: 55px;
    background: #F4F5F8;
}

    .news-letter .container {
        position: relative;
        max-width: 1420px;
    }

    .news-letter a {
        display: inline-block;
    }

    .news-letter .scroll-arrow {
        position: absolute;
        width: 48px;
        height: 48px;
        background: #525252;
        border-radius: 50%;
        left: 0;
        line-height: 45px;
    }

    .news-letter .message-footer {
        position: absolute;
        width: 63px;
        height: 63px;
        right: 0;
    }

    .news-letter h2 {
        font-size: 18px;
        margin-bottom: 16px;
    }

    .news-letter .form-row .form-control {
        border-radius: 20px;
        border: solid 1px #565656;
        background-color: #f4f5f8;
        color: #565656;
        font-size: 14px;
        height: 40px;
        line-height: 40px;
        padding: 0 22px;
    }

        .news-letter .form-row .form-control:focus {
            box-shadow: none;
        }

    .news-letter .btn-wrapper {
        margin-left: 11px;
    }

.red-btn {
    background-color: #FF7B6D;
    font-size: 14px;
    line-height: 37px;
    height: 40px;
    border-radius: 20px;
    border: none;
    outline: none;
    color: #fff;
    width: 88px;
    transition: 0.3s all;
}

    .red-btn:hover {
        background-color: #eb6e61;
        color: #fff;
    }


footer {
    background-color: #111111;
    height: auto;
    font-family: 'Roboto';
}

    footer a {
        color: white;
        text-decoration: none;
        font-size: 14px;
    }

    footer .insta {
        color: white;
        text-decoration: none;
    }

    footer .fb {
        color: white;
        text-decoration: none;
    }
