.pwd-field {
    width: 350px;
}

.btn-save {
    background-color: #1d7a8c;
    color: white;
    height: 40px;
    border: none;
    width: 80px;
}

.container {
    padding-left: 400px;
    padding-top: 150px;
}
